<div class="container">
  <div class="row">
    <div class="col-9">
     <h4>マイページ</h4>
     <table>
       <tr>
         <th><h5><strong>登録情報　</h5></strong></th>
         <th><%= link_to "編集する", customers_information_edit_path, class: "btn btn-success" %></th>
       </tr>
     </table>
      
      
      <table class="table table-bordered">
        <tr>
          <th style="background-color:#F5F5F5">氏名</th>
          <td><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <th style="background-color:#F5F5F5">カナ</th>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th style="background-color:#F5F5F5">郵便番号</th>
          <td><%= @customer.postcode %></td>
        </tr>
        <tr>
          <th style="background-color:#F5F5F5">住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th style="background-color:#F5F5F5">電話番号</th>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <th style="background-color:#F5F5F5">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </table>
      <table>
        <tr>
          <th><h5><strong>配送先</strong></h5></th>
          <th><%= link_to "一覧を見る", shopping_addresses_path(@customer), class: "btn btn-primary" %></th>
        </tr>
        <tr>
          <th><h5><strong>注文履歴　</strong></h5></th>
          <th><%= link_to "一覧を見る", orders_path(@customer), class: "btn btn-primary" %></th>
        </tr>
      </table>
    </div>
  </div>
</div>