<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
    <br>
    <h4><u>商品一覧</u></h4>
    <br>
    <table class="table table-hover rounded">
      <thead>
        <tr class="table-info">
          <th>商品ID　</th>
          <th>商品名　</th>
          <th>商品画像</th>
          <th>税抜価格　</th>
          <th>ジャンル　</th>
          <th>ステータス　</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item.id) %></td>
          <td>
            <%= link_to admin_item_path(item.id) do %>
            <%= image_tag item.image, size:'50x50' %><% end %>
          </td>
          <td><%= item.price %>円</td>
          <td><%= item.genre.name %></td>
          <td>
            <% if item.status == true %>
      					<p class="text-success">販売中</p>
      			<% else %>
      					<p class="text-secondary">販売停止中</p>
      			<% end %>
          </td>
          <td>
            <%= link_to '削除', [:admin,item], method: :delete, class: "btn btn-sm btn-danger rounded-pill"%>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="mx-auto" style="width: 200px;"><%= paginate @items %></div>
    </div>
    <div class="col-lg-1">
      <%=  link_to new_admin_item_path do %>
      <button type="button" class="btn btn-outline-warning rounded-circle p-0" style="width:2rem;height:2rem;">＋</button>
      <% end %>
    </div>
  </div>
</div>