<h3>管理者ログイン</h3>

<table class="admin-login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <tr>
    <th>
      <%= f.label :メールアドレス %>
    </th>
    <th>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </th>
  </tr>
  </tr>
  <tr>
    <th>
      <%= f.label :パスワード %>
    </th>
    <th>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </th>
  </tr>
  <tr>
    <th></th>
    <th>
      <%= f.submit "ログイン",class: 'btn btn-sm btn-primary' %>
    </th>
  </tr>
  <% end %>
</table>