
 <div class="container">
   <div class="row">
     <div class="col-lg-3"></div>
     <div class="col-lg-6">
       <h4 class="text-center">About</h4>
       <p  class="small text-center">ながのCAKEは全国発送可能なケーキ屋さんです。</p>
       <p class="small text-center">お子様からお年寄りの方までお召し上がりいただけるよう、</p>
       <p class="small text-center">様々なバリエーションをご用意しております。</p>
       <p class="small text-center">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
       <p class="small text-center">ぜひご注文ください。</p>
       <div class="slider">
         <%= image_tag 'top/ナポレオン.jpg', size: "600x300" %>
         <%= image_tag 'top/抹茶ロール.jpg', size: "600x300" %>
         <%= image_tag 'top/ペガサス.jpeg', size: "600x300" %>
         <%= image_tag 'top/モンブラン.png', size: "600x300" %>
         <%= image_tag 'top/フィナンシェ.png', size: "600x300" %>
       </div>
      </div>
   </div>
 </div>
