<div class="container">
  <div class="row">
    <div class="col-auto mx-auto">
      <h4>注文情報確認</h4>

      <table class="table-bordered">
        <thead>
          <tr style="background-color:#F5F5F5;">
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= image_tag cart_item.item.image, size:'100x100' %>
              <%= cart_item.item.name %>
            </td>
            <td><%= cart_item.item.add_tax_price%></td>
            <td><%= cart_item.quantity%></td>
            <td><%= cart_item.sum_price%></td>
           <% end %>
          </tr>
        </tbody>
      </table>

      <table class="table-bordered">
        <tr>
          <th style="background-color:#F5F5F5;">送料</th>
          <td>800</td>
        </tr>
        <tr>
          <th style="background-color:#F5F5F5;">商品合計</th>
          <td><%= @sum %></td>
        </tr>
        <tr>
          <th style="background-color:#F5F5F5;">請求金額</th>
          <td><%= @sum+800 %></td>
        </tr>
      </table>


      <div class="payment_method">
        <h4><strong>支払方法</strong></h4></br>
        <p><%= @order.payment_method %></p>
      </div>

      <div class="address">
        <h4><strong>お届け先</strong></h4></br>
        <p><%= @order.postcode %><%= @order.address %></p></br>
        <p><%= @order.name %></p>
      </div>

      <%= form_with model: @order, url:orders_path, method: :post do |f| %>
        <%= f.hidden_field :name,value: @order.name %>
        <%= f.hidden_field :address,value: @order.address %>
        <%= f.submit "注文を確定する",class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>