<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <br><h4>　　<u>注文履歴一覧</u></h4><br>
      <table class="table table-bordered">
        <thead>
          <tr class="table-info">
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              〒<%= order.postcode %><br>
    		      <%= order.address %><br>
    		      <%= order.name %>
            </td>
            <td>
              <% @sum = 0 %>
              <% order.order_details.each do |order_detail| %>
              <% @sum += order_detail.sum_price %>
    		      <%= order_detail.item.name %><br>
    		      <% end %>
            </td>
            <td><%= @sum %></td>
            <td><%= order.payment_method_i18n %></td>
            <td>
              <%= link_to '表示する', order_path(order.id), class: "btn btn-sm btn-primary rounded-pill" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>