<div class="container">
    <div class="row">
        <div class="col-lg-3">
           <p>ジャンル検索</p>
            <% @genres.each do |genre| %>
            <%= link_to genre.name,genre_path(genre) %><br>
            <% end %>
        </div>
        
        <div class="col-lg-9">
          <%= image_tag @item.image, size:'250x250' %>
          <h4><%= @item.name %></h4>
          <p><%= @item.introduction %></p>
          <p>¥<%= @item.add_tax_price %>（税込）</p>
          <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
        		<%= f.select :quantity, *[1..10] %>
	        	<%= f.hidden_field :item_id, :value => @item.id %>
	        	<%= f.submit "カートに入れる", class: "btn btn-success" %>
        	<% end %>
        </div>
    </div>
</div>