  <%= image_tag @item.image, size:'250x250' %>
  <h4><%= @item.name %></h4>
   <p><%= @item.introduction %></p>
   <p><%= @item.price %></p>
    <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
		<%= f.select :quantity, *[1..10] %>
		<%= f.hidden_field :item_id, :value => @item.id %>
		<%= f.submit "カートに入れる", class: "btn btn-primary" %>
	<% end %>

