<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

        <% if admin_signed_in? %>

          <li>
            <%= link_to admin_items,class: 'nav-link text-light' do %>
              <i class="fa-duotone fa-cake-slice"></i> 商品一覧
            <% end %>
          </li>
          <li>
            <%=  link_to admin_cusutomers_path,class: 'nav-link text-light' do %>
              <i class="fa-duotone fa-address-card"></i> 会員一覧
            <% end %>
          </li>
          <li>
            <%=  link_to admin_order_path ,class: 'nav-link text-light' do %>
              <i class="fa-duotone fa-cart-shopping"></i> 注文履歴一覧
            <% end %>
          </li>
          <li>
            <%=  link_to admin_genres_path ,class: 'nav-link text-light' do %>
              <i class="fa-duotone fa-cupcake"></i> ジャンル一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class="fa-duotone fa-right-from-bracket"></i> ログアウト
            <% end %>
          </li>

        <% elsif customer_signed_in? %>

          <li>
            <%= link_to customers_my_pege_path,class: 'nav-link text-light' do %>
              <i class="fa-duotone fa-address-card"></i> マイページ
            <% end %>
          </li>
          <li>
            <%=  link_to items_path,class: 'nav-link text-light' do %>
              <i class="fa-duotone fa-cake-slice"></i> 商品一覧
            <% end %>
          </li>
          <li>
            <%=  link_to cart_items_path ,class: 'nav-link text-light' do %>
              <i class="fa-duotone fa-cart-shopping"></i> カート
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class="fa-duotone fa-right-from-bracket"></i> ログアウト
            <% end %>
          </li>

        <% else %>

          <li>
            <%= link_to about_path,class: 'nav-link text-light' do %>
              <i class="fa-duotone fa-shop"></i> About
            <% end %>
          </li>
          <li>
            <%= link_to items_path,class: 'nav-link text-light' do %>
              <i class="fa-duotone fa-cake-slice"></i> 商品一覧
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path,class: 'nav-link text-light' do %>
              <i class="fa-duotone fa-pen-field"></i> 新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_session_path ,class: 'nav-link text-light' do %>
              <i class="fa-duotone fa-right-to-bracket"></i> ログイン
            <% end %>
          </li>

        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>